body {
    font-family: Roboto;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;   
}

.section-1 {
    background-color: #1F2937;
    display: flex;
    flex-wrap: wrap;
}

.header {
    color: #f9faf8;
    font-size: 24px;
    height: 70px;
    width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.links,
.header-text,
.text {
    font-size: 18px;
    color: #E5E7EB;
}


ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 16px;
}

.content-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 400px;
}

.content-text {
    color:#f9faf8;
    font-size: 48px;
    font-weight: 900;
    display: flex;
}

.content-text-2 {
    color:#f9faf8;
    font-size: 18px;
}

button {
    background-color: #3882f6;
    font-size: 18px;
    color:#E5E7EB;
    border: none;
    border-radius: 8px;
    padding: 10px;
}

.Main-image img {
    display: flex;
    height: 300px;
    width: 500px;
    border: 4px solid #3882f6;
    border-radius: 12px;
}

img {
    height: 120px;
    width: 100px;
    border: 4px solid #3882f6;
    border-radius: 12px;
}

.content-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.header-2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    display: flex;
}

.Item-1,
.Item-2,
.Item-3,
.Item-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.content-3 {
    background-color: #E5E7EB;
    display: flex;
}

.Inspiring-quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    display: flex;
}

.quote-speaker {
    font-size: 24px;
    color:#1F2937;
    display: flex;
}

.content-4 {
    display: flex;
}

.signup-box {
    color:#3882f6;
    display: flex;
}

.action {
    font-size: 24px;
    color: #f9faf8;
    display: flex;
}

.signup-text {
    font-size: 18px;
    color:#f9faf8;
    display: flex;
}

.footer {
    color:#E5E7EB;
    background-color: #1F2937;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}